
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Personal - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/Images/Logo.png" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />

    @Styles.Render("~/Content/styles.css")
</head>
<body class="d-flex flex-column h-100 bg-dark">
    <main class="flex-shrink-0">
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">

                            <h1 class="display-2 fw-bolder mb-5"><span class="text-gradient ">Bienvenidos a TerMaster</span></h1>

                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3"></div>
                            
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <div>
                                    <div class="wrapper">
                                        <div class="logo">
                                            <img src="~/Content/Images/Logo_azul.png" alt="">
                                        </div>
                                        <div class="text-center mt-4 name">
                                            Inicio de sesión
                                        </div>
                                        <form class="p-3 mt-3" action="@Url.Action("Login", "Login")" method="post">

                                            <div class="form-field d-flex align-items-center">
                                                <span class="far fa-user"></span>
                                                <input type="number" name="id_conductor" id="id_conductor" placeholder="N° Identificación" required>
                                            </div>
                                            <div class="form-field d-flex align-items-center">
                                                <span class="fas fa-key"></span>
                                                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                                            </div>
                                            @if (ViewBag.Error != null)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewBag.Error
                                                </div>
                                            }

                                            <button class="btn mt-3">Ingresar</button>
                                        </form>
                                        <div class="text-center fs-6">
                                            <a href="@Url.Action("Recp_contraseña", "Login")">¿Olvidaste tu contraseña?</a> o <a href="@Url.Action("Validar_cod_conductor", "Login")">Regístrate</a>
                                        </div>
                                    </div>
                                    
                                        
                                </div>
                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    @*<script src="js/scripts.js"></script>*@


    

    <!-- Modal -->
</body>
</html>