
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recp_contraseña</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body style="background-color: #212529">
    <div>
        <div class="form-gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">¿Olvidó su contraseña?</h2>
                                <p>Puedes restablecer tu contraseña aquí.</p>
                                <div class="panel-body">

                                    <form action="@Url.Action("Recp_contraseña", "Login")" id="register-form" role="form" autocomplete="off" method="post">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                                <input id="id" name="id" placeholder="Número de identificación" class="form-control" type="number" required>
                                            </div>
                                            <br />
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                                <input id="contraseña" name="contraseña" placeholder="Contraseña nueva" class="form-control" type="password" required minlength="8" maxlength="20" title="La contraseña debe tener entre 8 y 20 caracteres." disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Restablecer contraseña" type="submit">
                                            <a href="@Url.Action("Login", "Login")" class="btn btn-secondary submit_btn w-40 my-4">Atrás</a>
                                        </div>
                                    </form>
                                    @if (TempData["SuccessMessage"] != null)
                                    {
                                        <script>
                                            Swal.fire({
                                                icon: 'success',
                                                title: '¡Éxito!',
                                                text: '@Html.Raw(TempData["SuccessMessage"])'
                                            }).then(function () {
                                                window.location = '@Url.Action("Registrar_administrador_local", "Administrador_general")';
                                            });
                                        </script>
                                    }
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <script>
                                            Swal.fire({
                                                icon: 'error',
                                                title: '¡Error!',
                                                text: '@Html.Raw(TempData["ErrorMessage"])'
                                            });
                                        </script>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .form-gap {
        padding-top: 70px;
    }
</style>

<script>
        $(document).ready(function() {
            // Función para verificar si el ID existe
            function verificarId(id) {
                return $.ajax({
                    url: '@Url.Action("VerificarId", "Login")',
                    type: 'GET',
                    data: { id: id },
                    dataType: 'json'
                });
            }

            $('#id').on('input', function() {
                var id = $(this).val();

                if (id) {
                    verificarId(id).done(function(data) {
                        if (data.existe) {
                            $('#contraseña').prop('disabled', false);
                        } else {
                            $('#contraseña').prop('disabled', true);
                        }
                    }).fail(function() {
                        $('#contraseña').prop('disabled', true);
                    });
                } else {
                    $('#contraseña').prop('disabled', true);
                }
            });

        });
</script>
